table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

th {
	padding: 4px 10px;
	color: white;
	text-align: center;
}

tbody tr {
	background-color: var(--row-odd);
}

tbody tr:nth-child(even) {
	background-color: var(--row-even);
}

td {
	padding: 2px 10px;
	border: 1px solid white;
}

tbody tr:first-child td,
tbody tr:last-child td {
	border-top: none;
}

th:first-child,
td:first-child,
th:last-child,
td:last-child {
	width: 1px;
	white-space: nowrap;
}

th:first-child,
td:first-child {
	padding-left: 20px;
	border-left: none;
}

th:last-child,
td:last-child {
	padding-right: 20px;
	border-right: none;
}

.table-number {
	text-align: right;
}